<section ng-controller="UniverseController" ng-init="findOne()">
  <div class="page-header">
    <h1>{{universe.name}}</h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == universe.owner._id">
    <a class="btn btn-primary" ui-sref="universes.edit({universeId: universe._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Owned by {{universe.owner.displayName}}
    </em>
  </small>
  <p class="lead">
    {{universe.desc}}
  </p>
</section>