<section ng-controller="UniverseController" ng-init="find()">
  <div class="page-header">
    <h1>Manage Universes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="universe in universes" ui-sref="universes.view({universeId: universe._id})" class="list-group-item">
      <small class="list-group-item-text">
        Owned by
        <span ng-bind="universe.owner.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="universe.name"></h4>
    </a>
  </div>

  <div>
    <img class="img-responsive" src="modules/maps/client/img/placeholders/ManageUniverse1.jpg">
    <img class="img-responsive" src="modules/maps/client/img/placeholders/ManageUniverse2.jpg">
  </div>
</section>
